#root{
    --primary-box-shadow:rgb(28 28 28 / 8% ) 0px 2px 8px;
    --border-white:rgb(53, 42, 42);
    --background-color-primary-bg:rgb(255,255,255);
    --icon-name-color-grey:#828282;
    --icon-color:rgb(255, 126, 139);
    --grey:#828282;
    
}